a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000 !important;
}

a:hover {
  color: #ffffff !important;
}

a > span > svg {
  fill: #000 !important;
}

a:hover > span > svg {
  fill: #ffffff !important;
}
