.background {
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(#C774E8, #94D0FF) */
}

.iconContainer {
  display: flex;
  padding: 8px;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.iconContainer p {
  width: 60px;
  display: flex;
  margin-top: 6px;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  color: white;
}
